<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body>
    <header>
        <img src="../../assets/logo.svg" alt="Logomarca">
    </header>

    <main class="container">
        <section id="balance">
            <h2 class="sr-only">Balanço</h2>
            <div class="card">
                <h3>
                    <span>Entradas</span>
                    <img src="../../assets/income.svg" alt="Incomes">
                </h3>
                <p id="incomeDisplay">R$ 0,00</p>
            </div>

            <div class="card">
                <h3>
                    <span>Saídas</span>
                    <img src="../../assets/expense.svg" alt="Expenses">
                </h3>
                <p id="expenseDisplay">R$ 0,00</p>
            </div>
            
            <div class="card total">
                <h3>
                    <span>Total</span>
                    <img src="../../assets/total.svg" alt="Total">
                </h3>
                <p id="totalDisplay">R$ 0,00</p>
            </div>
        </section>
        
        <section id="transaction">  
            <h2 class="sr-only">Transações</h2>

            <a href="#" onclick="Modal.open()" class="button new">+ Nova transação</a>
            
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </main>

    <%- include("./partials/modal") %> 

    <footer>
        <p>dev.finance$</p>
    </footer>

    <script src="../../js/scripts.js"></script>
</body>
</html>