<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../../css/global.css">
    <!-- Title/FavIcon -->
    <title>dev.finance$</title>
    <link rel="shortcut icon" href="../../assets/total.svg" type="image/x-icon">
</head>
<body>
    <header>
        <img src="../../assets/logo.svg" alt="Logomarca">
    </header>

    <main class="container">
        <section id="balance">
            <h2 class="sr-only">Balanço</h2>
            <div class="card">
                <h3>
                    <span>Entradas</span>
                    <img src="../../assets/income.svg" alt="Incomes">
                </h3>
                <p id="incomeDisplay">R$ 0,00</p>
            </div>

            <div class="card">
                <h3>
                    <span>Saídas</span>
                    <img src="../../assets/expense.svg" alt="Expenses">
                </h3>
                <p id="expenseDisplay">R$ 0,00</p>
            </div>
            
            <div class="card total">
                <h3>
                    <span>Total</span>
                    <img src="../../assets/total.svg" alt="Total">
                </h3>
                <p id="totalDisplay">R$ 0,00</p>
            </div>
        </section>
        
        <section id="transaction">  
            <h2 class="sr-only">Transações</h2>

            <a href="#" onclick="Modal.open()" class="button new">+ Nova transação</a>
            
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </main>

    <%- include("./partials/modal") %> 

    <footer>
        <p>dev.finance$</p>
    </footer>

    <script src="../../js/scripts.js"></script>
</body>
</html>